
/* main font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Commomn styles */
.btn-primary {
    padding: 1.25rem 1.5rem;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 12.5rem;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 2.5rem;
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
}

nav li a {
    text-decoration: none;
}

.banner {
    padding-top: 6.375rem;
}

.banner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-desc {
    padding: 2rem 0;
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.banner-btn {
    margin-bottom: 3.125rem;
}


.banner-img {
    width: 100%;
}

main {
    max-width: 75%;
    margin: 4.5rem auto;
}


/* Quick List styling start */
.quick-list {
    display: flex;
    gap: 4.75rem;
    align-items: center;
    margin-bottom: 8.125rem;
}

.quick-list-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.quick-list-title {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.quick-list-text {
    color:#727272;
    font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.our {
    color: #131313;
    font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quick-list-desc {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 2rem;   
}
/* Quick List styling end */

/* Features section styling start */
.features {
    display: flex;
    gap: 10%;
    margin-bottom: 6.5rem;
}

.feature-content {
    width: 40%;
}

.feature-title {
    color:  #131313;
    font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.feature-desc {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
}

.feature-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.feature-card {
    padding: 1.875rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-card-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.feature-card-desc {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.feature-img {
    width: 50%;
}

.feature-img img{
    width: 100%;
}

.ten-years-experience {
    background-color: #131313;
    width: 48%;
    padding: 2vw;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    bottom: 105px;
    right: 80px;
}

.ten-years-experience h3 {
    color: #FFF;
    text-align: center;
    font-size: 3.38vw;
    font-weight: 700;
    
}

.ten-years-experience p {
    color: #FFF;
    text-align: center;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 500;
}
/* Features section styling end */

/* Facts section styling start */
.facts {
    margin-bottom: 11.25rem;
}

.facts-title {
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.facts-desc {
    width: 50%;
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6.25rem;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2.813rem 2.18rem 3.75rem 2.18rem;
    text-align: center;
}

.facts-card-stats {
    color:#424242;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.facts-card-desc {
    color: #727272;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* Facts section styling end */
.sponsors {
    margin-bottom: 8rem;
}

.sponsor-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sponsor-desc {
    color:  #727272;
    width: 45%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    }

.sponsor-container {
    width: 100%;
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}
/* Sponsor styling end */

/* Footer styling start */
footer {
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
    height: auto;
}

.footer-content {
    margin-bottom: 13.25rem;
}

.footer-desc {
    padding: 2.5rem 18vw;
    color: #424242;
    text-align: center;
    font-size: 1vw;
}
/* Footer styling end */

/* media queries for small screen size */
@media screen and (max-width: 576px) {
    nav, .features, .facts-card-container{
        flex-direction: column;
        gap: 10px;
        margin: 0
    }
    header {
        padding: 10px;
    }
    .banner {
        padding-top: 3rem;
    }
    .banner-content {
        width: 80%;
    }
    main, footer, .footer-content {
        max-width: 90%;
        margin: 0 auto;
    }
    .quick-list {
        margin-top: 30px;
        flex-direction: column-reverse;
    }
    .quick-list-img-container {
        grid-template-columns: 1fr;
    }
    .feature-content {
        width: 100%;
        text-align: center;
    }
    .feature-img, .facts-desc, .sponsor-desc {
        width: 100%;
    }
    .ten-years-experience {
        bottom: 300px;
        left: 0px;
    }
    .facts {
        text-align: center;
        margin: 0;
    }

    .sponsors, .sponsor-desc {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .sponsor-container {
        width: 100%;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
    }
    .sponsor-container > img {
        width: 100px;
    }
    .footer-desc {
        margin: 0;
        padding: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
}
